<header>
    <div class="col-12 d-flex justify-content-between align-items-center">
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <div>
            <a href="/"><button class="btn btn-primary">Inicio</button></a>
            <a href="/movies"><button class="btn btn-primary">Listado de peliculas</button></a>
            <a href="/genres"><button class="btn btn-primary">Generos</button></a>
            <a href="/actors"><button class="btn btn-primary">Actores</button></a>
        </div>
    </div>
</header>